<div class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{vacante.empresa}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">ubicacion</p>
        <p class="nombre">{{vacante.ubicacion}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">contrato</p>
        <p class="nombre">{{vacante.contrato}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">salario</p>
        <p class="nombre">$ {{vacante.salario}}</p>
    </div>
</div>
<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripción del Puesto</h2>
        <div class="vacante-descripcion">
            {{{vacante.descripcion}}}
        </div>
    </main>
</div>
<aside class="sidebar">
    <h2>Conocimiento Deseados</h2>
    <ul class="skills">
        {{#each vacante.skills}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</aside>